/resources/keys.json
/resources/config.json
client_secret*
/market/*API*
/node_modules

*.iml
/.idea
CryptoTrader.iml
accounts.js
analyzer.js
app.js
config.js
googlespreadsheetAPI.js
market/
mastertrader.js
metrics/
node_modules/
package.json
